[submodule "server-tools"]
	path = server-tools
	url = git@github.com:jarsa/server-tools.git
	branch = 14.0
[submodule "odoo-utilities"]
	path = odoo-utilities
	url = git@git.vauxoo.com:jarsa/odoo-utilities.git
	branch = 14.0
[submodule "server-backend"]
	path = server-backend
	url = git@github.com:jarsa/server-backend.git
	branch = 14.0

[submodule "bank-payment"]
	path = bank-payment
	url = git@github.com:Jarsa/bank-payment.git
	branch = 14.0

[submodule "reporting-engine"]
	path = reporting-engine
	url = git@github.com:Jarsa/reporting-engine.git
	branch = 14.0

[submodule "server-ux"]
	path = server-ux
	url = git@github.com:jarsa/server-ux.git
	branch = 14.0

[submodule "stock-logistics-reporting"]
	path = stock-logistics-reporting
	url = git@github.com:jarsa/stock-logistics-reporting.git
	branch = 14.0

[submodule "partner-contact"]
	path = partner-contact
	url = git@github.com:jarsa/partner-contact.git
	branch = 14.0

[submodule "credit-control"]
	path = credit-control
	url = git@github.com:Jarsa/credit-control.git
	branch = 14.0

[submodule "purchase-reporting"]
	path = purchase-reporting
	url = git@github.com:jarsa/purchase-reporting.git
	branch = 14.0

[submodule "sale-reporting"]
	path = sale-reporting
	url = git@github.com:jarsa/sale-reporting.git
	branch = 14.0

[submodule "stock-logistics-warehouse"]
	path = stock-logistics-warehouse
	url = git@github.com:jarsa/stock-logistics-warehouse.git
	branch = 14.0
